html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
